/** @format */

.card {
  width: 250px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  border-bottom: 1px solid tomato;
  font-size: 12px;
}

.card .stars > * {
  color: gold;
}

.new_pin_form {
  width: 250px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  overflow: visible;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid tomato;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.75rem;
}

.button {
  border: none;
  padding: 0.2rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton,
.logout {
  background-color: tomato;
}

.login {
  background-color: teal;
  margin-inline: 0.5rem;
}

.register {
  background-color: slateblue;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}
